<?xml version="1.0"?>
<config>
	<modules>
		<MST_Titan>
			<version>1.0.7</version>
		</MST_Titan>
	</modules>
	<frontend>
		<routers>
			<titan>
				<use>standard</use>
				<args>
					<module>MST_Titan</module>
					<frontName>titan</frontName>
				</args>
			</titan>
		</routers>
		<layout>
			<updates>
				<titan_layout>
					<file>titan.xml</file>
				</titan_layout>
			</updates>
		</layout>
	</frontend>
 	<admin>
        <routers>
            <titan>
                <use>admin</use>
                <args>
                    <module>MST_Titan</module>
                    <frontName>titan</frontName>
                </args>
            </titan>
        </routers>
    </admin>
	<adminhtml>
		<menu>
            <titan module="titan">
                <title><![CDATA[T2 THEME]]></title>
                <sort_order>71</sort_order>
                <children>
                    <titan_layout module="titan">
                        <title>Layout Builder</title>
                        <sort_order>30</sort_order>
						<action>titan/adminhtml_layout/index</action>
                    </titan_layout>
					<titan_block module="titan">
                        <title>Manage Snippets</title>
                        <sort_order>60</sort_order>
						<action>titan/adminhtml_block/index</action>
                    </titan_block>
					<setting module="titan">
                        <title>Configuration</title>
                        <sort_order>80</sort_order>
                        <action>adminhtml/system_config/edit/section/titan</action>
                    </setting>
                </children>
            </titan>
        </menu>
		<!--<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<titan>
											<title>Magebay - T2 Theme</title>
										</titan>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>-->
		<layout>
			<updates>
				<titan_layout>
					<file>titan.xml</file>
				</titan_layout>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<events>
			<controller_action_layout_generate_xml_before>
				<observers>
                    <render_custom_block>
                        <type>model</type>
                        <class>MST_Titan_Model_Observer</class>
                        <method>customLayoutUpdate</method>
                    </render_custom_block>
                </observers>
			</controller_action_layout_generate_xml_before>
		</events>
		<blocks>
			<titan>
				<class>MST_Titan_Block</class>
			</titan>
		</blocks>
		<helpers>
			<titan>
				<class>MST_Titan_Helper</class>
			</titan>
		</helpers>
		<models>
            <titan>
                <class>MST_Titan_Model</class>
                <resourceModel>titantheme_mysql4</resourceModel>
            </titan>
            <titantheme_mysql4>
                <class>MST_Titan_Model_Mysql4</class>
                <entities>
					<titanblocks>
                        <table>mst_titan_blocks</table>
                    </titanblocks>
					<topbar>
                        <table>mst_titan_block_topbar</table>
                    </topbar>
					<header>
                        <table>mst_titan_block_header</table>
                    </header>
					<beforemain>
                        <table>mst_titan_block_before_main_content</table>
                    </beforemain>
					<maincontent>
                        <table>mst_titan_block_main_content</table>
                    </maincontent>
					<aftermain>
                        <table>mst_titan_block_after_main_content</table>
                    </aftermain>
					<footer>
						<table>mst_titan_block_footer</table>
					</footer>
					<bottombar>
						<table>mst_titan_block_bottombar</table>
					</bottombar>
					<general>
						<table>mst_titan_general</table>
					</general>
					<pageoption>
						<table>mst_titan_page_options</table>
					</pageoption>
					<navigation>
						<table>mst_titan_navigation</table>
					</navigation>
					<customization>
						<table>mst_titan_customization</table>
					</customization>
                </entities>
            </titantheme_mysql4>
        </models>
        <resources>
            <titantheme_setup>
                <setup>
                    <module>MST_Titan</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </titantheme_setup>
            <titan_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </titan_write>
            <titan_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </titan_read>
        </resources>
	</global>
	<default>
		<titan>
			<general>
				<theme_layout>fullwidth</theme_layout>
				<theme_style>3</theme_style>
				<logo_type>default</logo_type>
				<enable_top_bar>1</enable_top_bar>
				<enable_setting_box>1</enable_setting_box>
			</general>
			<category>
				<product_per_row>3</product_per_row>
				<image_width>240</image_width>
				<image_height>240</image_height>
			</category>
			<product>
				<media_layout>1</media_layout>
				<large_image_width>1000</large_image_width>
				<large_image_height>1000</large_image_height>
				<main_image_width>600</main_image_width>
				<main_image_height>600</main_image_height>
				<product_info>tabs</product_info>
			</product>
			<navigation>
				<main_menu>default</main_menu>
			</navigation>
		</titan>
	</default>
</config>